.body {
  background-color: #9732cd;
  /* max-width: 80vw;  */
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  font-family: "Poppins", "Open Sans", "Helvetica Neue", sans-serif;
}

