.calm__corner {
  color: #fff;
  background-color: url(../images/background-defuse.jpg);
  z-index: 1;
  padding: 80px 70px 190px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.calm__corner-title {
  margin: 0 0 24px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  max-width: 580px;
}

.calm__corner-subtitle {
  margin: 0 0 80px;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  max-width: 438px;
}

.calm__corner-videos {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 100%;
}

.calm__corner-caption {
  display: flex;
  margin: 24px 0 0;
  justify-content: space-between;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.calm__corner-iframe {
  border: none;
  width: 480px;
  height: 273px;
  display: flex;
}
