.footer {
  background-color: rgba(255, 182, 193, 0.5);
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 16px;
}

.footer__name {
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
}
.footer__name-link {
  color: #000;
  text-decoration: none;
}

.footer__name-link:hover {
  cursor: pointer;
  opacity: 0.5;
}

.footer__credit {
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
}
.footer__credit-link {
  color: #000;
  text-decoration: none;
}

.footer__credit-link:hover {
  cursor: pointer;
  opacity: 0.5;
}
