.footer {
  /* background-color: rgba(255, 182, 193, 0.5); */
  background-color: rgba(253, 240, 255, 0.6);
  /* width: 100%; */
  width: 80vw;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  padding: 30px;
  box-sizing: border-box;
}

.footer__names {
  padding: 0;
}

.footer__credits {
  padding: 0;
}

.footer__name {
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
}
.footer__name-link {
  color: #000;
  text-decoration: none;
}

.footer__name-link:hover {
  cursor: pointer;
  opacity: 0.5;
}

.footer__credit {
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
}
.footer__credit-link {
  color: #000;
  text-decoration: none;
}

.footer__credit-link:hover {
  cursor: pointer;
  opacity: 0.5;
}
