.header {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 100px;
  background-image: url(../images/background-defuse.jpg);
  z-index: -1;
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.header__heading {
  margin-top: 20px;
  font-family: "Playwrite", Arial, Helvetica, sans-serif;
  color: #fff;
}
